# Next.js
.next/
out/

# Dependencies
node_modules/

# Production
/build

# Misc
.DS_Store
*.env.local
*.env.*.local
.env
.env.development.local
.env.production.local
.env.test.local
.env.staging.local

# Firebase credentials (example, adjust as needed)
src/app/firebase.ts
!src/app/firebase.example.ts # If you create an example file
